<a href="https://colab.research.google.com/github/19PA1A0537/pythonbasics/blob/master/07_03_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression 
import matplotlib.pyplot as plt

In [11]:
iris=pd.read_csv("Iris.csv")
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [12]:
iris.isna().any()

Id               False
SepalLengthCm    False
SepalWidthCm     False
PetalLengthCm    False
PetalWidthCm     False
Species          False
dtype: bool

In [0]:
x=iris[['PetalLengthCm','PetalWidthCm']].values
y=iris['SepalLengthCm'].values

In [14]:
x.shape

(150, 2)

In [15]:
y.shape

(150,)

In [0]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [20]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
model.intercept_

4.133963296375551

In [22]:
model.coef_

array([ 0.5680527 , -0.33045945])

In [23]:
predicted_sepal=model.predict(x_test)
predicted_sepal.shape

(38,)

In [24]:
x_test.shape

(38, 2)

In [0]:
Actual_predicted=pd.DataFrame({"Actual":y_test.flatten(),"predicted":predicted_sepal.flatten()})

In [27]:
Actual_predicted.head()

   Actual  predicted
0     5.8   6.237929
1     6.0   6.075715
2     5.5   4.863145
3     7.3   7.117868
4     5.0   4.919950