<a href="https://colab.research.google.com/github/19PA1A0537/pythonbasics/blob/master/comparisonofclassifiers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn import metrics

In [2]:
data=pd.read_csv('diabetes.csv')
data.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [0]:
x=data[['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']]

In [0]:
y=data['Outcome']

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3) #convert the data into x_train,x_test and y_train,y_test and test size 0.3 that the data is split into 30% test and remaining 70% into train

In [15]:
Classifier1=DecisionTreeClassifier()
Classifier1.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [16]:
y_predict=Classifier1.predict(x_test)
y_predict
frame=pd.DataFrame({'actual':y_test,'predicted':y_predict})
frame

     actual  predicted
647       1          1
170       1          0
577       1          1
431       0          0
33        0          0
..      ...        ...
554       0          0
745       0          0
50        0          0
719       1          0
732       1          1

[231 rows x 2 columns]

In [18]:
print('Accuracy:',metrics.accuracy_score(y_test,y_predict)) # this tells the acuracy of the data by using Decisiontreeclassifier

Accuracy: 0.6666666666666666

In [20]:
Classifier2=RandomForestClassifier(n_estimators=50) # random forest is the ensemble method and using we can divided the decision tree into sub trees randomly and n_estmators value 50 tells us that will sub groups upto 50 sub trees.
Classifier2.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [21]:
y_predict2=Classifier2.predict(x_test)
y_predict2
frame1=pd.DataFrame({'actual':y_test,'predicted':y_predict2})
frame1

     actual  predicted
647       1          1
170       1          0
577       1          0
431       0          0
33        0          0
..      ...        ...
554       0          0
745       0          1
50        0          0
719       1          0
732       1          1

[231 rows x 2 columns]

In [23]:
print('Accuracy:',metrics.accuracy_score(y_test,y_predict2))

Accuracy: 0.7445887445887446

In [24]:
Classifier3=AdaBoostClassifier()
Classifier3.fit(x_train,y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=None)

In [25]:
y_predict3=Classifier3.predict(x_test)
y_predict3
frame2=pd.DataFrame({'actual':y_test,'predicted':y_predict3})
frame2

     actual  predicted
647       1          1
170       1          0
577       1          0
431       0          0
33        0          0
..      ...        ...
554       0          0
745       0          0
50        0          0
719       1          0
732       1          1

[231 rows x 2 columns]

In [26]:
print('Accuarcy:',metrics.accuracy_score(y_test,y_predict3))

Accuarcy: 0.7532467532467533

from the above three classifications models i.e DecisionTreeClassifier,RandomForestClassifier,AdaBoostClassifier the accuarcy is more for AdaBoostClassifier.so adaboostclassifier is better classifier than other two classifiers