<a href="https://colab.research.google.com/github/19PA1A0537/pythonbasics/blob/master/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [6]:
placements=pd.read_csv("students_placement_data.csv")
placements.head()

   Roll No Gender  ... registered_for_ Placement_Training  placement status
0        1      M  ...                                 NO        Not placed
1        2      F  ...                                yes            Placed
2        3      F  ...                                yes        Not placed
3        4      M  ...                                yes        Not placed
4        5      M  ...                                yes        Not placed

[5 rows x 9 columns]

In [7]:
  placements.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                        False
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training    False
placement status                      False
dtype: bool

In [0]:
x=placements[['SSC Percentage','inter_Diploma_percentage']].values
y=placements['B.Tech_percentage'].values

In [11]:
x.shape

(117, 2)

In [12]:
y.shape

(117,)

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [19]:
model=LinearRegression()
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [20]:
model.intercept_

4.312584647147979

In [22]:
model.coef_

array([0.06092049, 0.67510575])

In [32]:
predicted_Percentage=model.predict(x_test)
predicted_Percentage.shape

(24,)

In [27]:
x_test.shape

(24, 2)

In [0]:
Actual_predicted=pd.DataFrame({"Actual":y_test.flatten(),"Predicted":predicted_Percentage.flatten()})

In [42]:
Actual_predicted.head()

   Actual  Predicted
0   71.49  60.838737
1   81.10  73.768151
2   62.98  50.394369
3   68.70  63.319682
4   61.02  63.016356